<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Launching world-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find conveyor_plugin)/worlds/warehouse.world"/>
    <arg name="verbose" value="true" />
    <arg name="paused" value="true" />
  </include>

  <!--loading from URDF file-->
  <param name="robot_description" command="$(find_xacro)/xacro --inorder '$(find my_robot_description)/urdf/conveyor_model.urdf'" />
                                <!-- command = "cat '$(find conveyor_plugin)/urdf/conveyor_model.urdf"-->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.5"/>

  <node name="my_robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model my_robot -x $(arg x) -y $(arg y) -z $(arg z)" />
        <!-- name of node has arbitrary value--> <!-- -model conveyor_robot -->
</launch>