<?xml version="1.0"?>
<model>
  <name>conveyor</name>
  <version>0.1.0</version>
  <author>
   <name>Lenard</name>
   <email>lenard.pavic7@gmail.com</email>
  </author>
  <sdf>urdf/rusted_car.urdf.xacro</sdf>
  <!-- <sdf version="1.6">urdf/rusted_car.urdf.xacro</sdf> -->
  <description>
    conveyor
  </description>
</model>